## .NET
bin/
obj/
*.user
*.suo

## VS Code
.vscode/

## Entorno / secretos
.env
appsettings.Development.json
appsettings.Production.json

## Frontend (para más adelante)
node_modules/
dist/
build/

## Sistema
.DS_Store